{% extends "base.html" %}
{% block titulo %}Agregar Factura{% endblock %}
{% block body %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-one-third">
                    <h3 class="is-size-3">Agregar Factura</h3>
                    <form action="{{url_for('update_invoice')}}" method="post">
                        <input type="hidden" name="id" value="{{invoice[0]}}">
                        <label for="number">Numero:</label>
                        <input required type="text" class="form-control" placeholder="number" name="number" id="number"
                        value="{{invoice[1]}}">
                        <label for="document">Identificacion Cliente:</label>
                        <input required type="text" class="form-control" placeholder="document" name="document" id="document"
                        value="{{invoice[2]}}" readonly>
                        <label for="date">Fecha:</label>
                        <input required type="text" class="form-control" placeholder="date" name="date" id="date"
                        value="{{invoice[3]}}">
                        <label for="price">precio</label>
                        <input required type="text" class="form-control" placeholder="price" name="price" id="price"
                        value="{{invoice[4]}}">
                        <label for="balance">Balance</label>
                        <input required type="text" class="form-control" placeholder="balance" name="balance" id="balance"
                        value="{{invoice[5]}}">
                        <br>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{{url_for('invoices')}}" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}